.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .container .glass {
    position: relative;
    width: 300px;
    height: 430px;
    background:rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
  }
  
  .container:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;
  }
  
  .container .glass svg {
    font-size: 2.5em;
    fill: #fff;
  }
  